@import 'reset.css';


@font-face {
  font-family: 'Wolfhouse-Regular';
  src: url('Wolfhouse-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wolfhouse-Regular';
  src:  url('Wolfhouse-Regular.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABCIAA8AAAAAGTgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAQbAAAABoA
AAAcezQ7DUdERUYAAA7QAAAAHwAAACAAcwAGR1BPUwAADxAAAAFcAAACYru00cRHU1VCAAAO8AAA
ACAAAAAgRHZMdU9TLzIAAAHMAAAASgAAAGBoT2cPY21hcAAAAtAAAAClAAABYobyUF9nYXNwAAAO
yAAAAAgAAAAI//8AA2dseWYAAAQAAAAI3gAADjDp8bcnaGVhZAAAAVgAAAAyAAAANhbpWi1oaGVh
AAABjAAAAB0AAAAkBrMC8mhtdHgAAAIYAAAAtwAAARiM0whVbG9jYQAAA3gAAACHAAAAjnkudhpt
YXhwAAABrAAAAB4AAAAgAJIATG5hbWUAAAzgAAABZgAAAqnM/aPTcG9zdAAADkgAAAB9AAAArgdB
B0x42mNgZGBgAOJ2mWlG8fw2Xxm4mV8ARRhupXcvhdH/J/1nY85k+gHkcjAwgUQBVvkM6wAAeNpj
YGRgYN72nw1ILv0/CUhmMgBFUIAbAHMQBKwAAAB42mNgZGBgcGPwZOBiAAEmIGZkAIk5gPkMABGi
AN8AAHjaY2Bm4mWcwMDKwMHUxRTBwMDgDaEZ4xiMGHWAfKAUHDAyIIFQ73A/BgcGBYYqpnf/2RhO
MG9j+AVTw/iF6R2QUmBgAgDaygwjAAB42mP8whDLAASMvkCsA2RsYTBiioDSBgxyQGwDxMpgDBTH
hpmXAtU0MHAxWQH1zACqSwLS4gxGjP+A9Dwgv4HBCGQe4zqgem0wbcT0CYiB4kybgPKKSLQEgyTj
F6C6BrA8FzMb0Gw1oNkuQCwEVCMPdJMcUI4TTMsx8TPIMUowiIDYIPtA9jDs/D+JcS+EzfQE6g4R
oFpZIA1SFwIUW8IgwugAxEA5xldAsz9BaDA+wyAHADi8KpQAeNpjYGBgZoBgGQZGBhCIAfIYwXwW
BgcgzcPAwcAEZCsw6DFYMkQxVP3/DxRVYNBhMADKJ/7////x/xv/r/+/+P801AQ4YGRjgAsxMgEJ
JgY0BRCrYYCFlY2BnYOTi5uHl49fACImKCQsIiomLiEpJS0jKyevoKikrKKqpq6hqaUNUaCjq6dv
YGhkbGJqZm5haWVtY2tn7+Do5OziyjAYAADBQBoWAAAAeNpjYGBIgMIcIKxgWMWwj+ERowQK9GJM
Y5zBeIDxHuM3Jh4mC6YApjimPKYOphlMW5hOMb1j5mK2YY5jnsG8inkf8yXmdyxcLAosZiwxLE0s
K1jOsfxiFWK1Yg1gTWKtYO1jncO6hfUY6xM2LjYDNge2MrY+tkVs29gusb1hZ2KXAACMAiEYAHja
jVd9TFRXFr/njWUUp8AwXxor5c0D0Wohzswb/MBBUF8VRG6RAR2UVBx1sCorVqF+ZUWw2iGtouu6
pkswZllbjSYb3H/MWlND1hhsXNdUu3ET1xjTtF3WNcQYwlz23PveDKPrJgu8+968Offc3zn3d37n
QlLJ2tEUOC0NEhNJJw4ymShkBlHJXLKALCUErLLVpTi8DrxURfWaxT3PoaiJt3xMelaN57iNmU8o
9MJpdv3p70pKe0tLS8O9pW65A5/CpXgLu+Ww3NvbK4c7ejWtd6OWLQ2OTDL9sEjOleXcDyLunJyc
dfisTSl1O+e4Cuj2ou20oGCTXCDLBQSIZ3Q/acNfEyGFXqviobSNjfD3hIy9d4j3bYRIJGv0uZQp
vcBo38b43GmSPUvyegLgy4cUT5ZkT5Pc+ZIvADBp4fp5U6fOW78w+NHs2R91fLAkNyMjd4l+k14U
b/3ki0+2Fjedu3uuSfPXN+5trPfrN1y7CD0PYU4nEoJJsWLicPQ6ivr6+mifJmVqNLZKQzsFAb2J
WByE2Hx+j9OeMhMcskO2ej1+3zR3ikOJ3o1GN/dAlL3zU1ld3Yk6aXzk8OHbh+9oUF9/qr5+OQbJ
/WBM3M80HqvdKWbPBFXcFe7G5/d6nA57ijkLcFTc0xQaKkeHZeEwH8tDNLq5sTPg8wU6GzdH7yyu
qtxdqeFVtXjdntZQccjpxKF1D89f0WiNqVHqJi6eP1nlzrh3F48Q2cLRy9YcHb9d2uBfE+noiKzx
03Bsh/T3kb+a3mXuo9XVR4O+wPFHxwM+ViVlxhZrpqWxhqKm7qambr5GKg67MH9m/iTnyWYFvBPA
a5Lkcna3PAhpFNLY8pH99+5Jg7FMmAoRngcT33PJhfPSEF02IfPB41d90/ICoPJ82FQ9CYrJajx4
nuz8dOXSovKDzQ9oJw2GyjtPhoJrq3Y2vBeeYFlZUhdh14YXLigqYafAXVlaXBXP9U7MtYuQzAye
6kIlDTAJGTzFLm8+Pivno62nLDR1S03jvn2NNVtSqeVUa1TKZhfvn2ha0XQZLJfxdoJjlgTmYhFr
uo44g0PlCDMQYF/3lSvdfTR0oKvrQD+E+2OrpIYz7OEZfd89STzTMy8uD3zDPoOF7Bo0S4Mae8b/
XrKfkGyfsDZsL4xxahfG+VYiTgcy2eEV9EkOtjeqbX1be9KzLxj5+ONI7XaMttuItsS/Faq12j19
kNb3i4ptvzIwSCt0zIAOkSwKJw4wSlk7pbBXbGk1uyANIhSjjoU+EZte39xAx8gHtCdvCF+yKsMs
dAKzuIVmrCXj96k8s1bOIQW4C5gfZr+BTWHWT6GM/RFaoAXHskSOLuo+C0UptsEsBKZp+C6OH1NF
LMhMqzIROHqb12aVrrX197fR2/RbBL4RTscypbOsFr6MrU3slYh7goEFwwYOZfUOyn6/Q+qKbUPU
26Quzgme+88x92ZixbnZKRnObH9GrmAEzz08Zj+ePw/O8+xmZP/+CJJMenEf0/090OOX2dBlTrAE
t1xiTcEtqyEMnF0ZuPbJlsOHW57Qk5cuQfWWb7awC1hVz5LXf5PvPtjNLiVPXznbCZ7CPK+LlxUK
S4ZT+pzS0PSKTVEDz4o5n4UaPAITtJz9sFEtvg9V979nU9UrB2p2HbrM4Y3xXhZ5zDQyAq/A47vU
70nCiACTcQKZPPocRhFnHte9LD6fl3u+SRV651I4P1McdqcrLnuT6biqytJgTe3sRSXZh9ZtPGjR
X7y/Zn0z//i4oq5MXbLMNnFKQYVKd+5q5Z8Xzbc7GzfhpwTnhkS9EnAouIuKCkN36B2sHizOc1ry
Xpt1Xhr8jj022I1Xg/AV17kUbofc9NokOcieUfYs+A/DcA/R+4l0U+cc8s2EAoasmwJe6Sb9FhnH
iYema+FLViudxeo5zTYm/L9l6IPNxGeYbEjZ1AcPQpcuhcQouP8dvMOOsCM4fpeYNw/njSdkCnB+
80lP6dPQ1atI7t0ohxE4xAbAp/cw+JehKSpgDTpAdijQxI7BAIvCTk1q0LRYt2b0XvgnMOSVQ6/+
sfYhGR0DfktpvGf8TTQKGGIWvVmwvUaHEPxBjhJcV/fFe6fixkMHovVnxn3ZI+3tvPdQv527qgYm
eg7GcCfAAnFnIHD9hLi4ptuTNN03JnNZ7ZHgvvRgaoW6tLp6qVqRGkxHwYMPHx3fsHpuMboqnrt6
QzzGnxO4Xh/jFyJGgU3EWM03+zUxcl//Rlw2PJeRXAFJlfWWrsPMDWDkLugav2z2orVwYMeOLQc+
jSzbbWedlsrdy8f3TC8Kay1nupr3HFn9fmdgxYqArkV2HMYJjASboioOcJg4r9pHeyj+wFCfNqyx
KrioGThS4GfEkc4zpCvta6Ni66Hi5cBgCJX4h5cj0zV2QOcMWEUN4ekIBugwX5pZ4CKeCgaHEzph
6L+ZdwCEikixC2AbaGtF2yEijXaNphg2E3QbE5dX3it6ntIeNBzBE25sVULf/xTvCarL+y4oZm56
L8xGAcL36K1bw8O34M/kld4jVtWLMqHnf8DV9d5rRKFYPdIv6Q16Ix4Gv8Z69QDam8fsPXCaDsct
4/v9HPMszgIEc+rE3OZwbmOuofl2e/vtdjYwRuXjjyoSZyYP7tFooraMehCJTa6Hgwfj9bByZbwe
GGqXL6kexvY7wWHr/8FhvtWQ/wqJ9bjLMO439DMHj3oSpkeL58WOMR/FtXK4hjvjEg7/U8LtND08
vVANLF/dqFU0mak5kJ83x7+gPBR5r3Lrr+tmZiszLGkliwuDq5bNKpieJedNTFuyZO6qmjjvZ+HZ
1eC9l/+rYuWXndLW1tYbyPevvtLYKQ0uvrpnho57YS9lG41dG4rHgFyCh2gndBzl2WuDaPA6vR48
adg1j50BrqHdf+n4tYSOo3Et13G8LMk6LvzzMxNvxmaFN+FCeHj1aujYsZAYYWh4+Ouv+WVgwj3k
c8YLTLjQy6icbATGwY9M9JcsfuZB25c0PAtmsHtwlP0FCjSIaDwt5D9AZtP5AAB42o2RT07CQBjF
3/BPuzHg2kVD3NIUkjYSbiCBBRG7NE3tv9B2CC0EruEhPIIXMDGewQt4Bne+lkkTxYWddOY337zv
zcw3ALp4g8Dx6+FasYCGW8UNnOFRcRNXeFbcov5TcRsj8aC4g554UazhXHwwS7Q0zvqVQ8kCl7AV
N3CBO8VN3CBR3KL+VXGbJ/hS3EFfPCnW0BXv8CCxxgEbxAgRoYCOlJyzxcgYgyfXh00cRoWexnke
Zww5zEoQUC+xpdJnSCZBJLc5ccF5yHgCl75Y+OE2cQlDGDCrNsESU7rMSadeg98OQ8M0zcly6swn
9TaD2vbUQP9tUGfpddY9FZvqkpLX1H8crnQqqtJk2NVrBkcTY66ndF0xv1QFHPfVniMqLP42e4s6
m5v4mzyWmX68QCQLT2a7cmYMzfEkdVe+LAJ/7+sjwzJsyxrb+E89/ijCjCseD+FwrF5t5nq64/Kx
vgGzyXfjAAB42m3My1KBAQCA0YMHkKFQdkgil1xL7VByCYVcesyej39aOzPf9hP27/jn0TnDoJCw
iKgLMXEJl64kpaRdu5GRlZN3q+BO0b2SsgcVVTX14NvQ1NLW0fXkWc+LV32D4P7m3ciHsYmpmU9z
C0tfvq2sbfzY2tk7+D0BNB0QjQAAAAAAAAH//wACeNpjYGRgYOADYgkGEGBiYGRgZnAFkixgHgMA
B1sAegAAAQAAAAoAHAAeAAFERkxUAAgABAAAAAD//wAAAAAAAHjahZK9TgJBFIXPJRTEkmjQQhKj
hmYFwR/+QVY0FlTGwsrOZk0MMdY+hPU+BIVPYLa2NFtTb23s1m8H6IyGHObO3DPf3DuzMklrKsuT
jS8nNyooz4rSVFnGHu6fHlnTYkYux8wy2bdzltSSrysFmurdNq3Mb8+q1jLfJnZtt/LtjrWpvdqb
fbK/ks7kpQkUj/0F4lhVVEOHqIE6qIcG7tRsto4vwBfgC/AFqqcR3kCt9EVt1CHuMvYY+4yD9FlD
PGfEI+SjczRGF2hDRVdJCDWEGkINoSZQQ6gR1AhqCDWCGkKNoM6gJlAjqDHUCGoMNYb6QbWnruYR
nhy0+TLyHHdOdES+iXI6WUbm+uZ/0S3vkeeM2O1csf++p+HyJhMcCdnsrIRsQjZxtzh0jC2ilav2
i/Of10i/qK+kora1o13tq8IbHqhK5XU1dEzvTb6HNj101aeqkcY/HXrGcHjaY2BgYGQAgmOp20+B
6FvpjgthNABODAb0AAA=) format('woff'), url('Wolfhouse-Regular.ttf')  format('truetype'), url('Wolfhouse-Regular.svg#Wolfhouse-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}




html {
	height: 100%;
    font-family: Wolfhouse-Regular;
    font-size: 4vw;
    background: #f7f7f7;
}

header{
    padding-left: 40px;
    padding-top: 40px;
    z-index: 100;
    position: fixed;
    width: 100%;
/*    margin-top: 40px;*/
 

}

footer{
    position: fixed;
    display: block;
    bottom: 0;
    padding-left: 40px;
    padding-bottom:40px;
}

a:link{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:visited{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*  SECTIONS  */
.section {
	clear: both;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0% 0 0% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.12%;
}
.span_2_of_4 {
	width: 48.25%;
}
.span_1_of_4 {
	width: 22.37%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}