@import 'reset.css';

/*
@font-face {
src:url("Unica77LL-Regular.otf");
src:url("Unica77LL-Bold.otf");
src:url("wolfhouse-regular-webfont.woff");
}
*/



/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 0;
    margin: 0;
  font-size: 6vw;
    margin-bottom: 15px;
  border: none;
  cursor: pointer;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  cursor: pointer;
    text-decoration: underline;
      outline: none;
  outline-offset: -2px;
}
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f7f7f7;
  min-width: 160px;
  z-index: 1;
    margin-left: -3vw;
    width: 103vw;
    padding-top: 15px;
    padding-bottom: 50px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0;
  text-decoration: none;
  display: block;
    margin-left:3vw;
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #ddd}*/

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.hiddenmenudesktop{
    display: block;
}




<link rel="stylesheet"href="https://use.typekit.net/fxt6lwh.css" > font-family: neue-haas-unica,
sans-serif;
font-weight: 600;
font-style: normal;

font-family: neue-haas-unica,
sans-serif;
font-weight: 600;
font-style: italic;

font-family: neue-haas-unica,
sans-serif;
font-weight: 400;
font-style: italic;

font-family: neue-haas-unica,
sans-serif;
font-weight: 400;
font-style: normal;

::-webkit-scrollbar {
    display: none;
}

/* Mobile Below 600px */

header {
    position: fixed;
    margin-bottom: 25vh;
    background: #f7f7f7;
}

html{
    -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

span{
    -webkit-hyphens: none;
     -ms-hyphens: none;
  hyphens: none;
}

.scrollimg {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    margin: 0vw;
}


.caption2{
     font-size: 16px;
}
.scrollsize {
    width: 194vw;
    padding-left: 3vw;
    padding-right: 3vw;
    height: inherit;
    margin: 0vw;
}

.wimg {
    display: none;
}


.entry{
    margin-bottom: 3vw;
}

.index {
    width: 100vw;
    background: #f7f7f7;
    margin-left: 3vw;
/*    margin-bottom: 3vw;*/
    margin-right: 3vw;
    margin-top: 3vw;
}

.menudesk {
    display: none;
}


.main-content {
    padding-top: 250px;
}


.menu {
    opacity: 0;
    position: fixed;
    visibility: hidden;
    background: #f7f7f7;
    margin-top: 0;
    width: 100vw;
    font-size: 6vw;
    left: -3vw;
    padding-left: 3vw;
    padding-bottom: 1.5vh;
/*    padding-top: 178px;*/
    margin-left: 3vw;

}

.menu-open {
    opacity: 1;
    visibility: visible;
}

body {
    font-family: neue-haas-unica;
    font-size: 6vw;
    line-height: 1.2;
    background: #f7f7f7;
    display: block;
}

p {
    font-family: neue-haas-unica;
/*    margin: 3vw;*/
}

img {
    width: 94vw;
    margin-left: 3vw;
    margin-right: 3vw;
    height: inherit;
}

.onecolimg {

/*    margin-top: 3vw;*/

}


    .textimg {

/*        margin-top: 3vw;*/

    }
.logo {
    background: #f7f7f7;
    position: fixed;
    display: block;
    width: 94vw;
    height: inherit;
    top: inherit;
    bottom: 0;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 6vw;
    padding-top: 3vh;
}


a:link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.caption {
    font-size: 16px;
    line-height: 1.2;
/*
    margin-top: 0vh;
    margin-bottom: 3vh;
*/
}


.pmobile {
    display: block;
    height: inherit;
    width: 94vw;
    margin-left: 3vw;
    margin-right: 3vw;

}

.mbreaks{
    display: none;
}



.twocol {
    margin-left: 3vw;
    margin-right: 3vw;
      margin-bottom: 3vw;
    
    
    
}



.caption2{
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 16px;
    margin-top: -1vw;
}




.onecol{
         margin-left: 3vw;
        margin-right: 3vw;
    margin-bottom: 3vw;
    
}
@media only screen and (min-width: 800px) {
    body {
        font-size: 4vw;
    }

    .menu {
        font-size: 4vw;
    }

    .mbreaks{
    display: block;
}
    .logo{
/*        background: transparent;*/
    }

}


/*  Desktop Above 1024px */

@media only screen and (min-width: 1024px) {
.dropdown-content {

    padding-bottom: 15px;
}

    

    
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 0;
    margin: 0;
    
  font-size: 16px;
  border: none;
  cursor: pointer;

}
    
    
.hiddenmenudesktop{
    display: none;
}
    
    
.caption2{
    margin-left: 0vw;
    margin-right: 0vw;
    font-size: 16px;
    margin-top: 0vw;
}
    
    
.mbreaks{
    display: block;
}
    .pmobile {
        display: none;
    }


    .scrollimg {
        display: none;
    }

    html {
        height: 100%;
        font-family: neue-haas-unica;
        font-size: 16px;
        background: #f7f7f7;
    }

    .main-content {
        padding-top: 0;
    }

    body {
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }

    p {
        margin: 0;
    }

    /*caption style*/
    .caption {
        font-size: 16px;
        line-height: 1.2;
/*        margin-top: 1vh;*/
    }

    /*two column text*/
    .twocol {
        font-size: 1.6vw;
        line-height: 1.2;
        width: 45.5vw;
        margin-bottom: 1.5vh;
           margin-left: 0vw;
    margin-right: 0vw;
    
    
    }

    /*one column text*/
    .onecol {
        font-size: 1.6vw;
        line-height: 1.2;
        width: 21.25vw;
        margin-bottom: 1.5vh;
        margin-left: 0vw;
        margin-right: 0vw;
    }


    header {
        margin-left: 3vw;
        margin-right: 3vw;
        display: block;
        z-index: 100;
        position: fixed;
        width: 100%;
        margin-top: 1.5vw;
        display: block;

    }

    .index {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        display: inline-block;
        width: 21.25vw;
    }

    .menudesk {
        padding-left: 3vw;
        display: inline-block;
        width: 21.25vw;
    }

    .hidemobile {
        display: none;
    }



    .logo {
        background: transparent;
        padding-bottom: 3vw;
        position: fixed;
        display: block;
        width: auto;
        height: 10.5vh;
        top: 0;
        margin-top: 85.5vh;
        padding-left: 3vw;
        padding-right: 3vw;
        top: inherit;

    }


    .menu {
        padding-top: 0vh;

    }

    img {
        margin-left: 0vw;
        margin-right: 0vw;
        width: 100vw;
        height: inherit;
        object-fit: cover;
        border: 0;
        vertical-align: top;
    }

    .wimg {
        height: 65vh;
        width: inherit;
        display: block;
    }

    .wimg2 {
        width: inherit;
        height: 65vh;
        margin-right: 3.5vh;
    }

    .vertical {
        width: 21.25vw;
    }

    .onecolimg {
        width: 21.25vw;
        height: inherit;
        margin-bottom: 1.5vh;
        margin-top: 0vw;

    }

    .textimg {
        width: 45.5vw;
        margin-bottom: 1.5vh;
        margin-top: 0vw;
        height: inherit;
    }


    .menu {
        opacity: 0;
        position: fixed;
        visibility: hidden;
        background: #f7f7f7;
        margin-top: 0;
        width: 100vw;
        font-size: 16px;
        padding-bottom: 0;
        padding-left: 3vw;
        left: 0;
          margin-left: 0vw;
    }

    .menu-open {
        opacity: 1;
        visibility: visible;
    }

    .credits {
        display: block;
    }






    /*DO NOT EDIT*/
    .main-content,
    .content-area {
        height: 100%;
        white-space: nowrap;
    }

    .entry {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        word-wrap: break-word;
        margin-left: 3%;
        margin-top: 17.5vh;
    }



    /*  SECTIONS  */
    .section {
        clear: both;
        margin: 0px;
    }

    /*  COLUMN SETUP  */
    .col {
        display: block;
        float: left;
        margin: 0% 0% 0% 3%;
    }

    .col:first-child {
        margin-left: 0;
    }

    /*  GROUPING  */
    .group:before,
    .group:after {
        content: "";
        display: table;
    }

    .group:after {
        clear: both;
    }

    .group {
        zoom: 1;
        /* For IE 6/7 */
    }

    /*  GRID OF FOUR  */
    .span_4_of_4 {
        width: 94%;
    }

    .span_3_of_4 {
        width: 69.75%;
    }

    .span_2_of_4 {
        width: 45.5%;
    }

    .span_1_of_4 {
        width: 21.25%;
    }

}


@media only screen and (min-width: 1280px) {

    .wimg {
        height: 76vh;
        width: inherit;
        display: block;
    }

    .wimg2 {
        width: inherit;
        height: 76vh;
        margin-right: 3.5vh;
    }

    .entry {
        margin-top: 12vh;
    }

    .logo {
        top: inherit;
        position: fixed;
        display: block;
        width: auto;
        height: 7vh;
        top: 0;
        margin-top: 88vh;
        padding-left: 3vw;
        padding-right: 3vw;
    }


}
